
<div class="jumbotron" style="height: calc(95vh);">
  <h3>Event/ Component Binding</h3>
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xss-12">
      <button class="btn btn-primary" (click)=onChangeFirst()>On Change</button>
      <button class="btn btn-danger" (click)=onDestroyFirst()>On Destroy</button>
      <app-server-element 
      *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
      [name]="serverElement.name">
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'Server'" style="color: red;">{{serverElement.content}}</strong>
        <em *ngIf="serverElement.type === 'Blueprint'" >{{serverElement.content}}</em>
      </p>
    </app-server-element>
    </div>
  </div>
</div>
</div>